.keepInTouch-section{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.580) , rgba(0, 0, 0, 0.580)) ,url('./../../assets/image/hero/hero.jpg');
    background-size: cover;
    background-position: center;
}

.keepInTouch-content .title{
    color: var(--white-color);
}

.title span {
    color: var(--primary-color);
}

.keepInTouch-content p{
    color: var(--white-color);
}

.form-title h1 span{
    color: var(--primary-color);
}

.keepInTouchForm{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}


/* MEDIA  */
@media only screen and (max-width: 1010px) {
    .form-title h1{
      font-size: 30px;
    }
  }
@media only screen and (max-width: 500px) {
    .keepInTouch-section{
      
        height: 130vh !important;
    }
  }

  @media only screen and (max-width: 380px) {
    .keepInTouch-section {
        height: 175vh !important;
    }
}

